<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="containers mt-5">
        <div class="row">
            <div class="col-6 m-auto">
                <h1 class="text-center">Home</h1>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos itaque, perferendis non illo vero, quaerat
                repellat officiis vel ullam harum quibusdam sequi unde nihil sint quasi facilis saepe vitae culpa, quae
                tenetur facere fugit. Voluptatum ex labore quis consequatur, iure iste enim soluta dolor dolore odio,
                quos, eaque culpa facilis?
            </div>
        </div>
    </div>
</body>

</html>